.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 70%;
}

input {
    width: 50%;
    gap: 1rem;
    border: 2px solid black;
}

button {
    width: 20%;
    padding: 0.2rem;
    background-color: purple;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all;
}

button:hover {
    transform: scale(0.95);
}

p {
    text-align: center;
}