body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to right, yellow, #009966, purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
